/WinFormsGraph/obj/*
/WinFormsGraph/bin/Debug/*
/WinFormsGraph/bin/Release/*
/GraphExample/bin/Debug/*
/GraphExample/bin/Release/*
/GraphExample/obj/*
*.suo
*.pdb
*.vshost.exe
*.vshost.exe
*.vshost.exe.manifest
*.csproj.user